#banner {
  font-size: 100px;
  text-align: center;
  color: mistyrose;
  font-family: helvetica;
  font-weight: bold;
  background-image: url("https://i.imgur.com/ZYe1yF7.jpg");
}

.headings {
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.headings #brushes {
  background-color: mediumspringgreen;
}

.headings img #cat{
  width = 50px;
  height = 30px;
}
